<div class="about-container row justify-content-end" >
    <div class="text-about col-9">
        <h3 class="section-title">¿Quien soy?</h3>
        <p class="about-description text-justify">Hola! Soy estudiante de programacion hace 1 año, vivo en rosario/Argentina 
          Estoy en la meta de poder programar juegos y aplicaciones
          Siempre yendo al frente y con la cabeza en alto
        </p>
</div>
    <div class="qualification-container col-3">
        <img class="imgface img-fluid" src="{{face}}" alt="Imagen de perfil" width="250">
        <h1 class="name text-center">Juliano N Ojeda</h1>
    </div>
</div>
