.primertrabajo-container{
    margin-top: 2rem;
    
}
.img-work{
    width: 200px;
    height: 200px;
}
.text-work{
    margin-left: 3rem;
}
h5{
    font-size: 2.5rem;

}
.work-description{
    font-size: 1.75rem;
}
