<div class="primertrabajo-container row">
    <div class="d-flex flex-wrap">
        <img [src]=workdata.urlImage class="img-work img-fluid" alt="Image work" width="250">
        <div class="text-work d-flex flex-column justify-content-center">
            <h5>{{workdata.title}}</h5>
            <p class="work-description">{{workdata.description}}</p>
            <div class="BarraSkill">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width:{{workdata.Skill}}">
                {{workdata.Skill}}</div>
              </div>
            </div> 

        </div>
        <div class="editions-container d-flex justify-content-center">
        <app-edit [workDataIn]="workdata"></app-edit>
        <app-delete (click)="deleteWork(workdata)" ></app-delete>
        </div>

    </div>

</div>
